<h1>Admin Dashboard</h1>

<br>

<a href="/admin/products" class="list-group-item list-group-item-success">Current total number of products in the database: 
  <span class="label label-success">
    <%= @total_product_number %>
  </span>
</a>

<br>

<a href="/admin/categories" class="list-group-item list-group-item-info">Current total number of categories in the database: 
  <span class="label label-info">
    <%= @total_category_number %>
  </span>
</a>