<h1>About Us</h1>

<h2>Jungle</h2>
<h3>
A mini e-commerce application built with Rails 4.2 for purposes of teaching Rails by example.
</h3>
<h4>Click the github link for the open source code:
<a href="https://github.com/lighthouse-labs/jungle-rails/">https://github.com/lighthouse-labs/jungle-rails/<a>
</h4>